.header{
    background-color: #fff;
}
.header .header-top{
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-align: right;
}
.header .header-top .logo{
    text-align: left;
    line-height: 60px;
}
.header .header-top img{
    height: 60px;
    vertical-align: top;
}
.header a{
    margin-left: 40px;
}
.header .breadcrumb{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-top: 1px solid #f9c700;
}
.header .breadcrumb .breadcrumb-title{
    text-align: center;
    font-size: 18px;
    /* position: relative; */
}
.header .breadcrumb .breadcrumb-title:after{
    position: absolute;
    content: '';
    left: 89px;
    top: 39px;
    border-top: 9px solid #fff;
    border-left:12px solid transparent;
    border-right:12px solid transparent;
    /* background-color: red; */
}
.header .breadcrumb .weather{
    text-align: right;
}
.header .breadcrumb .weather .date{
    margin-right: 10px;
}

.simple-page .header-top{
      background:#1890ff;
      color:#fff;
    
  }